{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}
<div class="container">
		<h2>Users</h2>
		<br>

		<table class="table table-striped">
			<thead>
				<tr>
					<td>Room Nr.</td>
					<td>Name</td>
					<td>Premium Room</td>
					<td></td>
				</tr>
			</thead>

			<tbody>
				{% for room in rooms %}
					<tr>
						<td>{{room.id}}</td>
						<td>{{room.name}}</td>
						<td>{{room.onlyForPremiumMembers}}</td>	
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
